@page "/"

<PageTitle>SigmaTech Electricals</PageTitle>
<div class="card bg-light text-white">
    <img src="images/main-image.jpg" class="card-img" alt="Main image" width="100%" height="427px">
    <div class="card-img-overlay">
        <h3 class="welcome-page mb-1">We offer <br> professional <br>electrical services</h3>
    </div>
</div>
<h1>SigmaTech Electricals</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero eum aliquid sed minus odit, obcaecati consequuntur ad!
    Numquam velit, possimus, modi quos reprehenderit quia aliquam optio officia maxime molestias odio debitis
    consequuntur obcaecati rem placeat architecto et quo alias doloremque voluptatum quibusdam recusandae ipsa dolor?
    Dolore temporibus assumenda laudantium eligendi illum est cum, eveniet corrupti omnis vel vitae reiciendis et minus
    voluptates quod veritatis quos quidem a commodi qui amet eius? Tenetur quos magni quaerat, soluta, autem natus harum
    sit totam laborum quam architecto enim tempore illum ullam, culpa est vel magnam in maiores ut quo quia commodi sed.
    Magni!</p>
<div class="card mb-3 shadow-sm bg-white rounded" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="images/electrician-on-pole.jpg" class="img-fluid rounded-start" alt="White Building" width="100%"
                height="270px">
        </div>
        <div class="col-md-6">

            <div class="card-body">
                <h2 class="card-title">Grid Repair and Maintenance</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rerum aut unde ea
                    molestias porro quaerat omnis laudantium, odit illo adipisci eligendi tenetur culpa! Accusamus
                    repudiandae id odio quam molestiae blanditiis, minus pariatur beatae culpa minima officiis?
                    Distinctio sapiente quae animi neque voluptas ad error, deserunt rerum, sunt, corporis eaque!</p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3 shadow-sm bg-white rounded" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">Solar Panel Installation</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rerum aut unde ea
                    molestias porro quaerat omnis laudantium, odit illo adipisci eligendi tenetur culpa! Accusamus
                    repudiandae id odio quam molestiae blanditiis, minus pariatur beatae culpa minima officiis?
                    Distinctio sapiente quae animi neque voluptas ad error, deserunt rerum, sunt, corporis eaque!</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="images/solar-panel-inspection.jpg" class="img-fluid rounded-end" alt="Solar Panel Inspection"
                width="100%" height="270px">

        </div>
    </div>
</div>
<div class="card mb-3 shadow-sm bg-white rounded" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <img src="images/man-at-work.jpg" class="img-fluid rounded-start" alt="Man at Work" width="100%"
                height="270px">
        </div>
        <div class="col-md-6">

            <div class="card-body">
                <h2 class="card-title">Electrical Repair and Maintenance</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rerum aut unde ea
                    molestias porro quaerat omnis laudantium, odit illo adipisci eligendi tenetur culpa! Accusamus
                    repudiandae id odio quam molestiae blanditiis, minus pariatur beatae culpa minima officiis?
                    Distinctio sapiente quae animi neque voluptas ad error, deserunt rerum, sunt, corporis eaque!</p>
            </div>
        </div>
    </div>
</div>
<!--div class="card mb-3 shadow-sm bg-white rounded" style="max-width: 100%;">
    <div class="row g-0">
        <div class="col-md-6">
            <div class="card-body">
                <h2 class="card-title">Solar Panel Installation</h2>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint rerum aut unde ea
                    molestias porro quaerat omnis laudantium, odit illo adipisci eligendi tenetur culpa! Accusamus
                    repudiandae id odio quam molestiae blanditiis, minus pariatur beatae culpa minima officiis?
                    Distinctio sapiente quae animi neque voluptas ad error, deserunt rerum, sunt, corporis eaque!</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="opacity-image-right">
            </div>
        </div>
    </div>
</div-->
